{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Guildmeet 2016 - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Guildmeet 2020') }}

    <div class="staticText">

        <p>On July 17, 18 and 19 there will be a guildmeet in Sweden (region of Vara) where people can meet each
            other in real life! </p>

        <p>Tell us if you can come or not using the pages listed below:</p>

        <ul>
            <li><a href="https://www.ladanse.org/app/forum#/forums/3908cb8b86657cdaf71b020ed0115z02/topics/9d27dc4719899b1c0b152fbc7097d243">On our forums</a></li>
            <li><a href="{{ url('eventsIndex') }}#/events/event/500">On the calendar</a></li>
        </ul>

        <p>Not convinced yet? Have a look at pictures from the
            <a target="_blank" href="https://www.facebook.com/media/set/?set=oa.10152534238856620&type=1">2014</a>,
            <a target="_blank" href="https://www.facebook.com/media/set/?set=oa.10153357251066620&type=1">2015</a>,
            <a target="_blank" href="https://www.facebook.com/media/set/?set=oa.10154121954806620&type=3">2016</a> or
            <a target="_blank" href="https://www.facebook.com/media/set/?set=oa.10156173845996620&type=3">2018</a> guildmeet.</p>

    </div>

{% endblock %}