{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}La Danse - Calendar{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Calendar</li>
    </ol>

    <h1>Raids</h1>

    <p><a href="{{ path('eventListIndex') }}">Click here if you prefer a list view</a></p>

    <!--a href="{{ path('createEventIndex') }}" class="btn btn-primary active" role="button">Create Raid</a -->

    {{ render(controller('LaDanseSiteBundle:Calendar:indexPartial')) }}

{% endblock %}
