{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Create event - La Danse Macabre{% endblock %}

{% block body %}

        <h2>Create event</h2>

        {{ form(form) }}

        <h2>Actions</h2>

        <ul>
            <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
            <li><a href="{{ path('viewEventsIndex') }}">Events</a></li>
        </ul>

{% endblock %}