{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Create event - La Danse Macabre{% endblock %}

{% block body %}

	<script type="application/javascript">
    	$( document ).ready(function()
    	{
    		$('.date').datepicker({ dateFormat: 'D dd-mm-yy' })
        });
	</script>

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Create Event</li>
    </ol>

    <h1>Create event</h1>

    {{ form(form) }}

{% endblock %}