{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Edit raid - La Danse Macabre{% endblock %}

{% block body %}

	<script type="application/javascript">
    	$( document ).ready(function()
    	{
    		$('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
	</script>

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('viewEventIndex', {'id': event.id}) }}">Event '{{ event.name }}'</a></li>
        <li class="active">Edit</li>
    </ol>

    <h1>Edit raid</h1>

    {{ form(form) }}

{% endblock %}