{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}La Danse - Calendar{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Calendar</li>
    </ol>

    <h1>Raids</h1>

    <p><a href="{{ path('calendarIndex') }}">Click here if you prefer the calendar view</a></p>

    {{ render(controller('LaDanseSiteBundle:EventList:indexPartial')) }}

{% endblock %}
