        <table cellpadding=5 border=0>
        {% for event in events %}
            <tr>
                <td class="center-td">{{ event.inviteTime|date("d/m (D)") }}</td>
                <td class="center-td">{{ event.inviteTime|date("H:i") }}</td>
                <td>{{ event.name }}</td>
            </tr>
        {% endfor %}
        </table>