{% if events|length == 0 %}
    <p>There are no events scheduled.</p>
{% else %}
    <table class="table" style="width: auto;">
        <thead>
        <tr>
            <th></th>
            <th>Date</th>            
            <th>Invite Time</th>
        </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td class="center-td">{{ event.inviteTime|date("d/m (D)") }}</td>
                    <td class="center-td">{{ event.inviteTime|date("H:i") }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}