<table class="table">
    <thead>
    <tr>
        <th>Date</th>            
        <th>Invite Time</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td class="center-td">{{ event.inviteTime|date("d/m (D)") }}</td>
                <td class="center-td">{{ event.inviteTime|date("H:i") }}</td>
                <td>{{ event.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>