{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}My Settings - La Danse Macabre{% endblock %}

{% block body %}

    <h1>My Settings</h1>

    <ul>
        <li><b>Guest</b>. A guest cannot see this page, when visited a redirect to index.xhtml is done.</li>
        <li><b>Member</b>. Any member can see this page and update his/her own settings.</li>
    </ul>

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('welcomeIndex') }}">Save</a></li>
        <li><a href="{{ path('welcomeIndex') }}">Cancel</a></li>
    </ul>

{% endblock %}
