{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}View sign up for event - La Danse Macabre{% endblock %}

{% block body %}

    <h2>View sign up</h2>

    <ul>
        <li><b>Guest</b>. A guest cannot see this page, a redirect to 'index.xhtml' will be done.</li>
        <li><b>Member</b>. Any member can see this page.</li>
    </ul>

    <p>Details of a sign up are shown. A user can only cancel the sign up or navigate away from this page.</p>

    <h2>Other Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('viewEventsIndex') }}">Events</a></li>
        <li><a href="{{ path('viewSignUpsIndex') }}">My sign ups</a></li>
        <li><a href="{{ path('viewSignUpsIndex') }}">Cancel sign up</a></li>
    </ul>

{% endblock %}
