{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}Events - La Danse Macabre{% endblock %}

{% block body %}

    <h1>Overview of events (guest)</h1>

    {{ render(controller('LaDanseSiteBundle:ListEventsPartial:list')) }}

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        {% if auth.currentContext.authenticated %}
        <li><a href="{{ path('createEventIndex') }}">Create event</a></li>
        {% endif %}
    </ul>

{% endblock %}