{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Events - La Danse Macabre{% endblock %}

{% block body %}

    <h2>Overview of events</h2>

    <ul>
        {% for item in events %}
                <li><a href="{{ path('viewEventIndex', {'id': item.id}) }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        {% if auth.currentContext.authenticated %}
        <li><a href="{{ path('createEventIndex') }}">Create event</a></li>
        {% endif %}
    </ul>

{% endblock %}