{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}La Danse - Index{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>

    <h1>Raids</h1>

    <p><a href="{{ path('eventListIndex') }}">Click here if you prefer a list view</a></p>

    {% if auth.currentContext.authenticated %}
    	<p>Can't find the raid you were looking for? <a href="{{ path('createEventIndex') }}">Why not create a raid yourself!</a></p>
    {% endif %}

    {{ render(controller('LaDanseSiteBundle:Calendar:indexPartial')) }}

{% endblock %}
