{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}La Danse - Index{% endblock %}

{% block body %}

    <h1>Events</h1>

    {{ render(controller('LaDanseSiteBundle:ListEventsPartial:list')) }}

    {% if auth.currentContext.authenticated %}

    <h4>Other actions on this page</h4>
    
    <ul>
        <!-- li><a href="{{ path('mySettingsIndex') }}">My settings</a></li --> 
        <li><a href="{{ path('createEventIndex') }}">Create event</a></li>    
    </ul>

    {% endif %}

{% endblock %}
