{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}La Danse - Index{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>

    <h1>Raids</h1>

    {{ render(controller('LaDanseSiteBundle:Calendar:indexPartial')) }}

{% endblock %}
