{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}La Danse - Index{% endblock %}

{% block body %}

	<ol class="breadcrumb">
		<li class="active">Home</li>
	</ol>

    <h1>Events</h1>

    {{ render(controller('LaDanseSiteBundle:ListEventsPartial:list')) }}

    {% if auth.currentContext.authenticated %}

    <p>Couldn't find the raid you where looking for? <a href="{{ path('createEventIndex') }}">Why not create it yourself!</a></p>

    {% endif %}

{% endblock %}
