{% extends 'LaDanseSiteBundle:layout:layout2.html.twig' %}

{% block title %}La Danse - Calendar{% endblock %}

{% block body %}

	<!-- ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Calendar</li>
    </ol -->

    <h1 style="padding-top: 10px;">Calendar</h1>

    {{ render(controller('LaDanseSiteBundle:Calendar/Calendar:indexPartial', {'page': page})) }}

{% endblock %}
