<html>

<body>

<p>Hello,</p>

<p>{{ account.username }} left feedback on the site. You can contact {{ account.username }} at {{ account.email }}.</p>

<p>This is the feedback:</p>

<blockquote>
	<i>{{ description }}</i>
</blockquote>

<p>Site Feedback Form</p>

</body>

</html>