{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Feedback - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Thank You!') }}

    <p>Thank you for your feedback! Rest assured that we will carefully read it and act on it.</p>

    <p>In the mean time, <a href="{{ path('welcomeIndex') }}">please continue on the site</a>.</p>

{% endblock %}