{% extends 'LaDanseSiteBundle:Layout:page.html.twig' %}

{% block title %}Feedback - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Feedback</li>
    </ol>

    <h1>Thank You!</h1>

    <p>Thank you for your feedback! Rest assured that we will carefully read it and act on it.</p>

    <p>In the mean time, <a href="{{ path('welcomeIndex') }}">please continue on the site</a>.</p>

{% endblock %}