{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Oops! - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('An Error Occured!') }}

    <div class="staticText">

        <h2>Oops, an error occured!</h2>

        <p>Something has gone wrong processing your request. People have already been notified about this.
        If you want you can use the Feedback (the little envelope icon in the top right corner of the page)
        and tell us what you were doing before this error occured.</p>

    </div>

{% endblock %}