{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Register - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Register</li>
    </ol>

    <h1>Registration</h1>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form(form) }}

{% endblock %}
