{% extends 'LaDanseSiteBundle:layout:guest-page-centered.html.twig' %}

{% block title %}Register - La Danse Macabre{% endblock %}

{% block guestPageCenteredBody %}

    {{ renderHeader('Registration') }}

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}
