{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Register - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Registration') }}

    <p class="text-warning">By registering your account you agree to the <a class="no-underline" href="{{ path('privacyPolicyIndex') }}">Privacy Policy and Other Terms</a>.</p>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}
