composer.phar

*.sublime-*

/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/config/parameters.yml
/phpunit.xml
/vendor/
/web/bundles/

/app/config/parameters.yml

/vendor/
/bin/
/composer.phar
web/css/*
web/js/*
web/images/*

/app/spool

TestCommand.php

## generic files to ignore
*~
*.lock
!composer.lock
*.DS_Store
*.swp
*.out

## IDE files to ignore
bootstrap.sublime-workspace
nbproject/
.idea/
*.tmproj
.buildpath
.project
.settings/

# envvars
bin/envvars

# to have the possibility to have an own htaccess e.g. with protection (as on prod)
web/.htaccess

# ignore compiled files (see config.yml assetic: read_from)
web/compiled/

# ignore parameters so everone can have its own
app/config/parameters.yml

# ignore MopaRemoteUpdateBundle bin files
bin/post-composer.sh
bin/envvars.default
app/Resources/mopa_remote_update.sqlite
/src/LaDanse/SiteBundle/Resources/public/components/
/web/assetic/
/src/LaDanse/AngularBundle/Resources/public/components/
