
## In 3.0 cache and logs reside in /var
/var/
!/var/cache/.gitkeep
!/var/logs/.gitkeep

## Vendor files are pulling in using composer
/vendor/

## Ignore files in /web that are copied over at runtime
/web/assetic/
/web/bundles/
/web/css/*
/web/js/*
/web/images/*
/web/compiled/

## Spool files are temporary
/app/spool

## generic files to ignore
*~
*.lock
!composer.lock
*.DS_Store
*.swp
*.out

## IDE files to ignore
bootstrap.sublime-workspace
nbproject/
.idea/
*.tmproj
.buildpath
.project
.settings/
*.sublime-*
/.rules

# envvars
bin/envvars

# to have the possibility to have an own htaccess e.g. with protection (as on prod)
web/.htaccess

# ignore parameters so everone can have its own
/app/config/parameters.yml

# ignore MopaRemoteUpdateBundle bin files
bin/post-composer.sh
bin/envvars.default
app/Resources/mopa_remote_update.sqlite

/src/LaDanse/SiteBundle/Resources/public/components/
/src/LaDanse/AngularBundle/Resources/public/components/
