{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}About - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('About La Danse Macabre') }}

    <div class="staticText">

        <h2>Introduction</h2>

        <p>LDM is a friends and family guild, and if you are in you are considered family. We always
            aim
            to have fun, and do fun stuff in-game.
            While we raid and do some pvp, this is not meant as serious and hardcore, but casual and fun.
            While we can aim to progress in raids and push rating in arena, the aim is still to keep it fun.</p>

        <h2>Our Raiding</h2>

        <p>We aim to do 1-2 raids per week as long as we have people interested in doing it.
            Currently some of our raiders (including the current raid leader) is working on a stupid schedule which
            means we
            can’t raid a single given day (ie. always do Monday and Thursday).
            Goal is to get enough interest so we can get a raid going even if some people are off to work.</p>

        <p>Currently using simple MS/OS need/greed rolls for loot.</p>

        <h2>Participation</h2>

        <p>Since many of our members are mothers or fathers, work odd hours or in any other way have
            something else that limits raiding time we have no demands on participation at all. You can participate 5
            raids
            a week or 1 raid a month, nothing is too much or too little. We are supposed to do this to have fun together
            and
            not as a job. But if you do sign up for something we do expect you to be there in time.</p>

        <h2>Can You Contribute?</h2>

        <p>LDM has a website where every member is encouraged to set up events and raids that they
            want
            to get going.</p>

        <h2>Guild Bank?</h2>

        <p>The gold in the guild bank is meant to be covering basic repair costs for our members.
            Raiders
            have slightly more gold to repair for each day.
            The items in the guild bank is meant to be used by anyone that needs them. They are a contribution from other
            members. If you want to take something out from the guild bank, please leave a fitting amount of gold for it
            (for
            previously mentioned repairs).</p>

        <h2>When Will I Become A Full Member?</h2>

        <p>When you join you are “In Training” and 4 weeks after joining you will become a full
            member, a “Dancer”.</p>

        <h2>The La Danse Macabre Motto</h2>

        <p>"If it's not fun, then don't do it"</p>

    </div>

{% endblock %}