.calendar-cell
{
    position: relative;
    /*border: solid red 1px;*/
    width: 14%;
}

.calendar-cell-container
{
	position: relative;
	min-height: 100px;
	/*border: solid green 1px;*/
}

.event-container
{
	/*padding-left: 1em;
    text-indent: -1em;*/
    background-color: rgba(200, 200, 200, .2);
    padding: 3px;
    margin-bottom: 4px;

    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-bottom-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-bottom-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.today-calendar-cell
{
	/*background-color: #162f30;*/
	background-color: rgba(100, 100, 100, 0);
}

.today-calendar-cell .event-container
{
	background-color: rgba(33, 37, 41, 1) !important;
}
	
.table-striped tbody tr:nth-child(odd) td.today-calendar-cell
{
	/*background-color: #162f30;*/
	background-color: rgba(200, 200, 200, .2);
}

.hover-me-container
{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.hover-me
{
	text-align: right;
}

.calendar-cell:hover .hover-me-container
{
	display: block;
}