.calendar-cell
{
    position: relative;
    width: 14%;
}

.calendar-cell-container
{
	position: relative;
	min-height: 100px;
}

.event-container
{
	padding: 3px;
    margin-bottom: 4px;

    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-bottom-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-bottom-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.event-container-link, .event-container-link:hover
{
    text-decoration: none;
}

.event-container:hover
{
    background-color: rgba(200, 200, 200, .2);
}

.event-signed
{
    background-color: rgb(60, 100, 50); 
}

.event-absent
{
    background-color: rgb(100, 60, 50);
}

.event-notSigned
{
    background-color: rgb(65,100, 160);
}

.today-calendar-cell
{
    background-color: rgb(100, 60, 50);
}
	
.table-striped tbody tr:nth-child(odd) td.today-calendar-cell
{
	background-color: rgba(200, 200, 200, .2);
}

.hover-me-container
{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

.hover-me
{
	text-align: right;
}

.calendar-cell:hover .hover-me-container
{
	display: block;
}