html, body
{
    height: 100%;
}

.wow-bg-image
{
    background-image:url('../images/background.jpg');
    background-color: rgb(56, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.rounded-corners
{
    -moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;

    border: rgb(50, 50, 50) 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: inset 0 0 0px rgba(200, 200, 200, .8);
}

.body-container
{
    margin-top: 50px;
    min-height: 100%;
    height: auto !important; /*min-height hack*/
    height: 100%;

    padding-top: 15px;
}

td.center-td
{
    text-align: center;
}

.centered-grid-container
{
    width: 960px;
    margin-left: auto;
    margin-right: auto;   
}

.nav-container
{
  width: 100%;
  height: 60px;
  background: rgba(50, 50, 50, .3);
}

.outer-container
{
  position: relative;
  width: 100%;
  height: 60px;
}

.inner-container
{
  position: absolute;
  top: 0;
  right: 0;
}

#content-container
{

}