#menu-column-list
{
    margin-top: 30px;
}

#menu-column-list li
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
    font-size: 24px;
    color: gray;
    font-weight: 200;
}

#menu-column-list li.selected
{
    color: black;
    ffont-weight: bold;
    font-weight: normal;
}

#menu-page-container
{
    width: 100%;
    padding: 0 40px 0 40px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#menu-page-slider
{
    width: 100%;
    position: inherit;
    overflow: hidden;
}

div.menu-column
{
    vertical-align: top;
    position: inherit;
    display: inline-block;
    width: 315px;
    height: 600px;
    margin-left: 30px;
}

div.menu-column a
{
    color: white;
    white-space: nowrap;
}

#menu-page-slider2
{
}

#menu-page-slider2 > :first-child
{
    margin-left: 0 !important;
}