#menu-container-wrapper
{
    text-align: center;
}

#menu-container
{
    display: inline-block;
    text-align: left;
    visibility: hidden;
}

#menu-column-list
{
    margin-top: 30px;
}

#menu-column-list li
{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
    font-size: 24px;
    color: gray;
    font-weight: 200;
}

#menu-column-list li.selected
{
    color: black;
    font-weight: normal;
}

#menu-page-container
{
    padding: 0 40px 0 40px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

#menu-page-slider
{
    width: 100%;
    position: inherit;
    overflow: hidden;
}

#menu-container div.menu-column
{
    vertical-align: top;
    position: inherit;
    display: inline-block;
    margin-left: 30px;
}

#menu-container div.menu-news
{
    overflow: scroll !important;
    white-space: normal !important;
    margin-top: 15px;
}

#menu-container div.menu-news p
{
    font-family: 'Segoe UI', 'Open Sans', sans-serif, serif;
    font-size: 16px;
    color: black;
    font-weight: 300;
}

#menu-container div.menu-news p span.news-timestamp
{
    font-size: 12px;
    color: gray;
    font-weight: 200;
}

#menu-container div.menu-news p a
{
    color: black;
}

#menu-container div.masonry-column-small
{
    width: 150px;
}

#menu-container div.masonry-column-normal
{
    width: 315px;
}

#menu-container div.masonry-column-wide
{
    width: 480px;
}

#menu-container div.menu-column-tiles a
{
    color: white;
    white-space: nowrap;
}

#menu-page-slider2
{
}

#menu-page-slider2 > :first-child
{
    margin-left: 0 !important;
}

#guildmeet-banner
{
    display: none;
    margin-top: 30px;
    padding: 0 34px 0 34px;
    text-align: center;
}

#guildmeet-banner .well
{
    background: rgb(22, 105, 173);
}

#guildmeet-banner .header
{
    font-size: 1.8em;
    font-weight: bold;
}