<html>

<body>

<h1>Test Notification</h1>

<p>This is a test notification for an activity performed by {{ data.account.displayName }}</p>

<p>Activity Data:</p>

<code>{{ data.activityData | json_encode() }}</code>

<br/>

<p>La Danse Website</p>

</body>


</html>