{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block content %}

	<style>
		.bare-container
        {
            min-height: 100%;
            height: auto !important; /*min-height hack*/
            height: 100%;
        }
	</style>

	<div class="bare-container centered-grid-container">
		{% block body %}{% endblock %}       
	</div> <!-- container -->

{% endblock %}