{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block content %}

   <div class="container body-container centered-grid-container">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->

{% endblock %}