{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block content %}

	<div class="body-container centered-grid-container">
		{% block body %}{% endblock %}       
	</div> <!-- container -->

{% endblock %}