{% extends 'LaDanseSiteBundle:layout:base.html.twig' %}

{% block body %}

    <div id="first-top-bar">
        <div style="width: 100%; max-width: 980px; margin: auto; position: relative;">
            <div class="top-bar-left-container">
                <img src="{{ asset('bundles/ladansesite/images/GuildLogo.png') }}" style="height: 85px; padding-top: 10px;" />
            </div>
            <div class="top-bar-left-container" style="font-size: 1.7em; color: white; line-height: 68px;">
                La Danse Macabre
            </div>
            <a style="color: white;" href="{{ path('welcomeIndex') }}">
                <div id="menuActivator" class="top-bar-left-container"
                     style="font-size: 1.7em; color: white; line-height: 68px;">
                    <i class="fa fa-angle-down fa-1x"></i>
                </div>
            </a>

            <div style="position: relative; float: right;">
                <p style="font-size: 1.0em; color: white; line-height: 68px;">
                    <a class="no-underline" style="color: white;" href="#"
                       data-toggle="tooltip" data-placement="bottom" title="Help and info"><i class="fa fa-info-circle"></i></a>
                </p>
            </div>
        </div>
    </div>

    <div id="second-top-bar"></div>

    {% block guestPageBody %}{% endblock %}

{% endblock %}