{% extends 'LaDanseSiteBundle:layout:guest-page.html.twig' %}

{% block guestPageBody %}

    <div id="content-container" style="width: 100%; max-width: 980px; margin: auto; position: relative;">

        {% block guestPageCenteredBody %}{% endblock %}

    </div>

{% endblock %}