<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        {% stylesheets filter='cssrewrite'
            'bundles/mopabootstrap/less/mopabootstrapbundle.less'
            'bundles/coderspottingtoastmessage/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="application/javascript">
        </script>

        {% javascripts '@CoderSpottingToastMessageBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700'
            rel='stylesheet' type='text/css' -->

        {{ renderToasts() }}

        <!-- The styles below are temporary -->

        <style type="text/css">
        	DIV.BodyContent {
        		width: 1000px;
                margin: 50px auto auto;
            }

            body, input, textarea, h2 {
                font-family: 'Segoe UI Light', sans-serif;
                font-weight: 300;
                font-size: 16px;
            }

            h1 {
                font-size: 2em;
                font-weight: 300;
            }

            h2 {
                font-size: 1.5em;
                font-weight: 300;
            }

            h3 {
                font-size: 1.1em;
                font-weight: 300;
            }

            a,
            a:link,
            a:active,
            a:visited,
            a:hover {
                color: blue;
            }

            table {
                border-collapse: collapse;
            }

            th, td {
                margin: 0;
                border: 0 solid black;
            }

            td.center-td {
                text-align: center;
            }

        </style>

    </head>
    <body class="metro">
    	<div class="BodyContent">

            {% if auth.currentContext.authenticated %}
                <p>Logged in with {{ auth.currentContext.account.id }}</p>
            {% else %}
                <p>Not logged in</p>
            {% endif %}

    		{% block body %}{% endblock %}
    	</div>
    </body>
</html>