<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        <!-- link href="{{ asset('/bundles/ladansesite/css/metro-bootstrap.css') }}" 
            type="text/css" rel="stylesheet" / -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,700'
            rel='stylesheet' type='text/css'>

        <!-- The styles below are temporary -->

        <style type="text/css">
        	DIV.BodyContent {
        		width: 1000px;
        		margin: auto;     
        		margin-top: 50px;   		
        	}

            body, input, textarea, h2 {
                font-family: 'Open Sans';
                font-weight: 300;
                font-size: 16px;
                background-color: RGB(250, 250, 250);
            }

            h1 {
                font-size: 2em;
                font-weight: 300;
            }

            h2 {
                font-size: 1.5em;
                font-weight: 300;
            }

            h3 {
                font-size: 1.1em;
                font-weight: 300;
            }

            a,
            a:link,
            a:active,
            a:visited,
            a:hover {
                color: blue;
            }

            table {
                border-collapse: collapse;
            }

            th, td {
                margin: 0px;
                border: 0px solid black;
            }

            td.center-td {
                text-align: center;
            }

        </style>

    </head>
    <body class="metro">
    	<div class="BodyContent">

            {% if auth.currentContext.authenticated %}
                <p>Logged in with {{ auth.currentContext.account.id }}</p>
            {% else %}
                <p>Not logged in</p>
            {% endif %}

    		{% block body %}{% endblock %}
    	</div>
    </body>
</html>