{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block content %}

    {# content is placed in a classical 960 grid #}
    <div class="container rounded-corners body-container bg-color-container centered-grid-container">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- container -->

{% endblock %}