{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block memberPageBody %}

    <div id="content-container" style="width: 100%; max-width: 980px; margin: auto; position: relative;">

        {% block memberPageCenteredBody %}{% endblock %}

    </div>

{% endblock %}