<script>

    TopicComponent.prototype = new UIComponent();
    TopicComponent.prototype.constructor = TopicComponent;

    function TopicComponent(topicResource)
    {
        UIComponent.prototype.constructor.call(this);

        this.topicResource = topicResource;

        this.postComponents = new Array();

        this.topicResource.getPosts().forEach(
            (function(post)
            {
                console.log(post.message);

                var postComponent = new PostComponent(post);

                this.postComponents.push(postComponent);
            }).bind(this)
        );
    };

    TopicComponent.prototype.render = function()
    {
        var viewData = {
            containerId: this.id,
            postComponents: this.postComponents
        };

        var html = this.renderTemplate("#TopicComponent-posts-template", viewData);

        return html;
    }

</script>

{% verbatim %}

    <script id="TopicComponent-posts-template" type="text/template">

        <p>Start</p>

           <ul>

        {{#postComponents}}

            <li>{{{ render }}}</li>

        {{/postComponents}}

           </ul>

        <p>End</p>

    </script>

{% endverbatim %}