{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}Create raid - La Danse Macabre{% endblock %}

{% block body %}

	<script type="application/javascript">
    	$( document ).ready(function()
    	{
    		$('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
	</script>

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Create Event</li>
    </ol>

    <h1>Create raid</h1>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form(form) }}

{% endblock %}