{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Create event - La Danse Macabre{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        $( document ).ready(function()
        {
            $('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
    </script>

    <script type="application/javascript">
        $(document).ready(function()
        {
            $("body").tooltip({ selector: '[data-toggle=tooltip]',
                'container': 'body' });
        });
    </script>

{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Create event', path('calendarIndex')) }}

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}