{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Edit raid - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Edit event', path('viewEvent', {'id': event.id})) }}

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        $( document ).ready(function()
        {
            $('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
    </script>

{% endblock %}