{% extends 'LaDanseSiteBundle:layout:layout2.html.twig' %}

{% block title %}Edit raid - La Danse Macabre{% endblock %}

{% block body %}

	<script type="application/javascript">
    	$( document ).ready(function()
    	{
    		$('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
	</script>

    {{ renderHeader('Edit event', path('viewEvent', {'id': event.id})) }}

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}