{% extends 'LaDanseSiteBundle:layout:layout2.html.twig' %}

{% block title %}Edit raid - La Danse Macabre{% endblock %}

{% block body %}

	<script type="application/javascript">
    	$( document ).ready(function()
    	{
    		$('.date').datepicker({ dateFormat: 'D dd-mm-yy', firstDay: 1 })
        });
	</script>

    <div style="position: absolute; left: -90px;">
        <a href="{{ path('viewEvent', {'id': event.id}) }}">
            <img src="{{ asset('bundles/ladansesite/images/LeftArrow.png') }}" style="height: 70px;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancel and back to calendar" />
        </a>
    </div>

    <h1 style="padding-top: 10px;">Edit event</h1>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 600px;">
        {{ form(form) }}
    </div>

{% endblock %}