{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}Event List - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Events</li>
    </ol>

    <h1>Event List</h1>

    <p>Once Quartiz/Kolima/Pimm/... finds time and the courage to develop the code behind this page, you'll
        find a list of events in chronological order</p>

{% endblock %}