<div class="faq">

    <p class="header">Frequently Asked Questions</p>

    <p class="question">What is the difference between "Will Come" and "Might Come"?</p>

    <p class="answer">
        If you mark your sign up as "Will Come" it means that you intend to be there at invite time and you
        currently have no reason to believe you won't be able to come.
    </p>

    <p class="answer">
        Signing up as "Might Come" on the other hand, means you can't guarantee that you will be there at
        invite time. You will do your best but that's it.
    </p>

    <p class="question">What if I signed up as "Might Come" and don't show up?</p>

    <p class="answer">
        Not a problem, that's exactly why we have "Might Come" for. You couldn't guarantee to be there at invite
        time or even at all during the run!
    </p>

    <p class="question">What if I signed up as "Will Come" and don't show up?</p>

    <p class="answer">
        In general this is not a problem either. We all have forgotten about a raid in the past and sometimes
        real life situations take priority. We understand. If you can, try to warn us you won't be able to
        make it. Change your sign up, write a comment on the event page or drop us a note on our Facebook page.
    </p>

    <p class="question">What if I signed up as "Can't Come" but I do show up?</p>

    <p class="answer">
        Talk to the raid organiser in-game, he or she will more than probably have a nice spot for you
        available in the raid.
    </p>

</div>