{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Under Construction - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Team Speak</li>
    </ol>

    <h1>Under Construction</h1>

    <p>This functionality is still under construction. Leave feedback using the link on the top right if you 
    	have some good ideas or suggestions.</p>

{% endblock %}