{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}{{ pageTitle }} - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    <div ng-app="LaDanseApp">

        <div ui-view></div>

    </div>

{% endblock %}

{% block stylesheet %}

    {{ parent() }}

    {% stylesheets filter='cssrewrite'
    'bundles/ladanseangular/css/ladanse.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

{% endblock %}

{% block javascript %}

    {{ include('LaDanseAngularBundle::javascript.html.twig') }}

{% endblock %}