{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Characters - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader(claim.character.name, path('viewClaims')) }}

    <p>Update the roles you are willing to perform with that character. You don't have to select any roles.</p>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    <div style="max-width: 400px;">
    {{ form(form) }}
    </div>

{% endblock %}