{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Characters - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('viewClaims') }}">Characters</a></li>
        <li class="active">Edit Character</li>
    </ol>

    <h1>Update character '{{ claim.character.name }}'</h1>

    <p>Update the roles you are willing to perform with that character. You don't have to select any roles.</p>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form(form) }}

{% endblock %}