{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reset Password - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>

{% endblock memberPageCenteredBody %}
