div.SearchResultsTableContainer
{
  i.sortingSelector
  {
    color: grey;
    display: none;
  }

  i.sortingABCAsc
  {
    display: none;
  }

  i.sortingABCDesc
  {
    display: none;
  }

  i.sortingNumAsc
  {
    display: none;
  }

  i.sortingNumDesc
  {
    display: none;
  }

  i.claimedIcon
  {
    color: darkolivegreen;
  }

  span.characterName
  {
    font-weight: bold;
  }

  span.characterRealm
  {
    font-size: 0.85em;
  }
}