<div ng-controller="CommentGroupCtrl" ng-init="initCommentGroupCtrl()" ng-cloak>

    <div ng-controller="AddCommentCtrl"
         ng-init="initAddCommentCtrl()"
         ng-show="visible">
        <div ng-controller="CommentEditorCtrl"
             ng-init="initCommentEditorCtrl('', saveCommentEditor, cancelCommentEditor)"
             comment-editor-template>
        </div>
    </div> <!-- AddCommentCtrl -->

    <div ng-repeat="comment in comments">

        <div class="post" style="clear: both;"
             ng-controller="CommentCtrl"
             ng-init="initCommentCtrl(comment)"
             ng-cloak
             ng-switch="editing">

            <div ng-switch="editing"ng-switch-when="false">

                <div class="postContainer">
                    <div>
                        <span class="poster">{{ comment.poster }}</span>
                        <span class="message">{{ comment.message }}</span>
                    </div>
                    <div>
                        <span class="postDate">{{ comment.postDate | date: 'MMM d, y H:mm:ss' }}</span>
                                <span class="postEditLink"
                                      ng-if="isEditable()"
                                      ng-click="editClicked()">Edit</span>
                    </div>
                </div>

            </div> <!-- ng-switch="editing" - ng-switch-when="false" -->

            <div ng-switch-when="true">

                <div ng-controller="CommentEditorCtrl"
                     ng-init="initCommentEditorCtrl(comment.message, saveCommentEditor, cancelCommentEditor)"
                     comment-editor-template>
                </div>

            </div> <!-- ng-switch="editing" - ng-switch-when="true" -->

        </div> <!-- CommentCtrl -->

    </div> <!-- ng-repeat="comment in comments" -->

</div> <!-- CommentGroupCtrl -->