<div class="CommentContainer" ng-controller="CommentGroupCtrl" ng-init="initCommentGroupCtrl()" ng-cloak>

    <!--
    <div class="CommentsTitle">
        <h4>{{ comments.length }} Comments</h4>
    </div>
    -->

    <div ng-controller="AddCommentCtrl"
         ng-init="initAddCommentCtrl()"
         ng-show="visible"
         class="AddComment">
        <div ng-controller="CommentEditorCtrl"
             ng-init="initCommentEditorCtrl('', saveCommentEditor, cancelCommentEditor)"
             comment-editor-template>
        </div>
    </div> <!-- AddCommentCtrl -->

    <div ng-repeat="comment in comments">

        <div class="post" style="clear: both;"
             ng-controller="CommentCtrl"
             ng-init="initCommentCtrl(comment)"
             ng-cloak
             ng-switch="editing">

            <div class="postContainer"
                 ng-switch-when="false">
                <div>
                    <span class="poster">{{ comment.poster }}</span>
                    <span class="message">{{ comment.message }}</span>
                </div>
                <div>
                    <span class="postDate">{{ comment.postDate | date: 'MMM d, y H:mm:ss' }}</span>
                    <span class="postEditLink"
                          ng-click="editClicked()"><i class="fa fa-pencil fa-1x"></i></span>
                </div>
            </div> <!-- ng-switch="editing" - ng-switch-when="false" -->

            <div ng-controller="CommentEditorCtrl"
                 ng-init="initCommentEditorCtrl(comment.message, saveCommentEditor, cancelCommentEditor)"
                 ng-switch-when="true"
                 comment-editor-template>
            </div> <!-- ng-switch="editing" - ng-switch-when="true" -->

        </div> <!-- CommentCtrl -->

    </div> <!-- ng-repeat="comment in comments" -->

</div> <!-- CommentGroupCtrl -->