{% if backPath is defined and backPath is not null %}
    <div style="position: absolute; left: -90px;">
        <a href="{{ backPath  }}">
            <img src="{{ asset('bundles/ladansesite/images/LeftArrow.png') }}" style="height: 70px;" />
        </a>
    </div>
{% endif %}

<h1 style="margin-top: 13px;">{{ headerTitle }}</h1>