<div ng-controller="ForumListCtrl" ng-init="initForumListCtrl()" ng-cloak>

    <style>

        .forum-container div.forumBox {
            padding: 10px;
            background-color: rgb(249, 249, 249);
            border: 1px solid rgb(200, 200, 200);
            height: 100px;
        }

        .forum-container div.forumBoxUpdated {
            background-color: lightgreen;
        }

        .forum-container div.activity {
            background-color: rgb(249, 249, 249);
            border: 1px solid rgb(200, 200, 200);
            height: 150px;
        }

        .forum-container div.header-row {
            margin-top: 25px;
            margin-bottom: 10px;
        }

        .forum-container div.subheader-row {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .forum-container div.forum-row {

        }

        .forum-container div.forumBox a {
            text-decoration: none;
            color: black;
        }

        .forum-container div.slider {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
        }

        .forum-container div.slide {
            position: absolute;
            top: 0;
            left: 0;
        }

        .forum-container img {
            max-width: 650px;
            max-height: 350px;
            display: none;
        }

        .slide:after {
            content: "";
            position: absolute;
            top: 60px;
            left: 0;
            height: 90px;
            width: 100%;
            background: -webkit-linear-gradient(rgba(249, 249, 249, 0), rgb(249, 249, 249));
            background: linear-gradient(rgba(249, 249, 249, 0), rgb(249, 249, 249));
        }

        a.TopOfPage
        {
            color: black;
        }

        div.BookmarkHeader
        {
            font-size: 1.2em;
        }

    </style>

    <div ng-controller="HeaderCtrl"
         ng-init="initHeaderCtrl('Forums', null)"
         id="TopOfPage"
         header-template>
    </div>

    <div ng-if="isForumLoaded"
         class="container-fluid forum-container">

        <div class="row header-row">

            <div class="col-md-12 BookmarkHeader">

                <a href="" ng-click="scrollTo('PublicForums')">Public Forums</a> |
                <a href="" ng-click="scrollTo('GeneralForums')">General Forums</a> |
                <a href="" ng-click="scrollTo('PvEForums')">PvE Forums</a> |
                <a href="" ng-click="scrollTo('RaidTactics')">Raid Tactics</a> |
                <a href="" ng-click="scrollTo('PvPForums')">PvP Forums</a> |
                <a href="" ng-click="scrollTo('RolePlayingAndEvents')">Role Playing & Events</a> |
                <a href="" ng-click="scrollTo('OldRaids')">Old Raids</a>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4>Latest Posts <span style="font-size: 0.7em; font-weight: normal;">
                    (<a href="#/latestposts">view all</a>)</span></h4>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="activity">

                    <div ng-controller="ActivitySliderCtrl"
                         ng-init="initActivitySliderCtrl('../services/forum/forums/activity')"
                         class="slider">
                        <div ng-repeat="post in posts"
                             ng-hide="!isCurrentSlideIndex($index)"
                             class="slide slide-animation">
                            <div style="padding: 10px;">
                                <div>
                                    <b>{{ post.poster }}</b> posted in&nbsp;
                                    <i><a href="#/{{ post.topic.forum.forumId }}/topics/{{ post.topic.topicId }}">{{
                                        post.topic.subject }}</a></i>&nbsp;
                                    (<a href="#/{{ post.topic.forum.forumId }}">{{ post.topic.forum.name }}</a>)
                                </div>
                                <div style="font-size: 0.8em;"
                                     am-time-ago="post.postDate"></div>
                                <div ng-bind-html="post.message"
                                     style="padding-top: 10px; padding-left: 10px;"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="PublicForums"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> Public Forums</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z02')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="GeneralForums"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> General Forums</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z03')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z04')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z05')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z06')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row forum-row" style="margin-top: 30px;">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z20')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="PvEForums"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> PvE Forums</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z07')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z09')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z10')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z11')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row forum-row" style="margin-top: 30px;">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z33')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="RaidTactics"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> Raid Tactics</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z34')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z35')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z36')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="PvPForums"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> PvP Forums</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z12')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z13')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z14')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z15')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="RolePlayingAndEvents"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> Role Playing &amp; Events Forums</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z16')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z17')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4 id="OldRaids"><a href="" ng-click="scrollTo('TopOfPage')" class="TopOfPage"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> Old Raids</h4>

            </div>

        </div>

        <div class="row subheader-row">

            <div class="col-md-12"><b>Highmaul</b><br/></div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z21')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z22')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z23')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row subheader-row">

            <div class="col-md-12"><b>Blackrock Foundry</b><br/></div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z24')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z25')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z26')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z27')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row subheader-row">

            <div class="col-md-12"><b>Hellfire Citadel</b><br/></div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z28')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z29')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z30')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z31')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <br/>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z32')"
                     class="forumBox"
                     ng-class="{forumBoxUpdated: isRecentlyUpdated}"
                     forum-item-template>
                </div>

            </div>

        </div>

        <!--

<div class="row header-row">

    <div class="col-md-12">

        <h4>Officers Forums</h4>

    </div>

</div>

<div class="row forum-row">

    <div class="col-md-3">

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z18')"
             class="forumBox"
             forum-item-template>
        </div>

    </div>

    <div class="col-md-3">

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z19')"
             class="forumBox"
             forum-item-template>
        </div>

    </div>

</div>

-->

    </div>

</div>