{% extends 'LaDanseSiteBundle:settings:layout.html.twig' %}

{% block settingsPanel %}

	<h1>Battle.net Account Connect</h1>

    <br/>

   <a href="{{ path('hwi_oauth_service_redirect', { 'service': 'battlenet', '_destination' : app.request.requestUri }) }}" class="connect">connect</a>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>
        #battleNetConnectLink
        {
            background-color: #99b433;
        }
    </style>

{% endblock %}
