{% extends 'LaDanseSiteBundle:settings:layout.html.twig' %}

{% block settingsPanel %}

	<style>
	#settingsPasswordLink
    {
        background-color: #99b433;
    }
	</style>

	<p>Change Password</p>

{% endblock %}
