{% extends 'LaDanseSiteBundle:settings:layout.html.twig' %}

{% block settingsPanel %}

	<h1>Profile</h1>

    <p>Edit your personal profile information. Your display name is used throughout the website so make sure
       to pick something so people recognize it's you. Your email address will be used to send notifications
       or password resets.</p>

    <p>You cannot change your login name through this form. Use the feedback link in the top right corner to contact
       the site maintainers and request a change of login name if you desire such a change.</p>

    <br/>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form(form) }}

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>
        #settingsProfileLink
        {
            background-color: #99b433;
        }
    </style>

{% endblock %}
