{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}My Settings - La Danse Macabre{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Settings</li>
    </ol>

    <style>
    #SettingsPane
    {
    	border-left: 1px solid lightGray;
    	padding-left: 20px;
    }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <p><i class="fa fa-gears"></i> Profile</p>
                <p><i class="fa fa-key"></i> Password</p>
                <p><i class="fa fa-globe"></i> Notifications</p>
            </div>
            <div class="col-md-10">
            	<div id="SettingsPane">
                	<p>Profile</p>
            	</div>
            </div>
        </div>
    </div>

{% endblock %}
