{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Forum - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    <div ng-app="ForumApp">

        <div ng-view></div>

    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        var forumId = '3908cb8b86657cdaf71b020ed01151ce';
    </script>

    {% javascripts '@LaDanseForumBundle/Resources/public/angular/app/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseForumBundle/Resources/public/angular/controllers/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}