{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Forum - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Forum') }}

    <div ng-app="ForumApp">

        <div ng-view></div>

    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">
        var commentGroupId = '8a443daf5e2e3406362a543c93888673';
    </script>

    {% javascripts '@LaDanseForumBundle/Resources/public/angular/app/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseForumBundle/Resources/public/angular/controllers/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}