{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Forum - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    <div ng-app="ForumApp">

        <div ng-view></div>

    </div>

{% endblock %}

{% block javascript %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/forum/app/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/forum/services/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/forum/models/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/forum/controllers/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}