{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Forum - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    <div ng-app="LaDanseApp">

        <div ng-view></div>

    </div>

{% endblock %}

{% block javascript %}

    {% javascripts
    '@LaDanseAngularBundle/Resources/public/ladanse/app/*.js'
    '@LaDanseAngularBundle/Resources/public/ladanse/forum/app/*.js'
    '@LaDanseAngularBundle/Resources/public/ladanse/comments/app/*.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/ladanse/forum/services/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/ladanse/forum/models/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@LaDanseAngularBundle/Resources/public/ladanse/forum/controllers/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}