{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Under Construction - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Forum</li>
    </ol>

    <h1>Under Construction</h1>

    <p>This functionality is still under construction. Leave feedback using the link on the top right if you 
    	have some good ideas or suggestions.</p>

    <div style="margin-top: 35px; text-align: center;">
    	<span>
    		<a href="http://www.ladanse.org/index.php" target="_blank">
    <button type="button" class="btn btn-info btn-lg">Visit Old Forum</button>
</a>
</span>

	</div>

{% endblock %}