{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Under Construction - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Under Construction') }}

    <p>This functionality is still under construction. Leave feedback using the link on the top right if you 
    	have some good ideas or suggestions.</p>

    <div style="margin-top: 35px; text-align: center;">
    	<span>
    		<a href="http://www.ladanse.org/index.php" target="_blank">
                <button type="button" class="btn btn-info btn-lg">Visit Old Forum</button>
            </a>
        </span>
	</div>

{% endblock %}