<div style="left: -90px; position: relative; overflow: hidden; margin-bottom: 30px;">

    <table>
        <tr>
            <td style="width: 90px; vertical-align: middle;">
                <a href="{{ headerURL }}"
                   ng-if="hasUrl()">
                    <img src="/bundles/ladansesite/images/LeftArrow.png" style="width: 70px;" />
                </a>
            </td>
            <td style="vertical-align: middle;"><h1 style="margin: 0; padding: 0;">{{ headerText }}</h1></td>
        </tr>
    </table>

</div>
