<div ng-controller="ForumListCtrl" ng-init="initForumListCtrl()" ng-cloak>

    <style>

        .forum-container div.forumBox
        {
            padding: 10px;
            background-color: rgb(249, 249, 249);
            border: 1px solid rgb(200, 200, 200);
            height: 100px;
        }
        
        .forum-container div.activity
        {
            background-color: white;
            height: 150px;
        }

        .forum-container div.header-row
        {
            margin-top: 25px;
            margin-bottom: 10px;
        }

        .forum-container div.forum-row
        {

        }

        .forum-container div.forumBox a
        {
            text-decoration: none;
            color: black;
        }

    </style>

    <div ng-controller="HeaderCtrl"
         ng-init="initHeaderCtrl('Forums', null)"
         header-template>
    </div>

    <div ng-if="isForumLoaded"
         class="container-fluid forum-container">

        <!--

        <div class="row">

            <div class="col-md-12">
                <div class="activity">&nbsp;</div>
            </div>

        </div>

        -->

        <div class="row header-row">

            <div class="col-md-12">

                <h4>Recruitment</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z02')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4>General</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z03')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z04')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z05')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z06')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4>PvE</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z07')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z08')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z09')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z10')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row forum-row" style="margin-top: 30px;">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z11')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4>PvP</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z12')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z13')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z14')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z15')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <div class="row header-row">

            <div class="col-md-12">

                <h4>RP/ Events</h4>

            </div>

        </div>

        <div class="row forum-row">

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z16')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

            <div class="col-md-3">

                <div ng-controller="ForumItemCtrl"
                     ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z17')"
                     class="forumBox"
                     forum-item-template>
                </div>

            </div>

        </div>

        <!--

<div class="row header-row">

    <div class="col-md-12">

        <h4>Officers forum</h4>

    </div>

</div>

<div class="row forum-row">

    <div class="col-md-3">

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z18')"
             class="forumBox"
             forum-item-template>
        </div>

    </div>

    <div class="col-md-3">

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z19')"
             class="forumBox"
             forum-item-template>
        </div>

    </div>

</div>

-->

    </div>

</div>