<div ng-controller="ForumListCtrl" ng-init="initForumListCtrl()" ng-cloak>

    <div ng-controller="HeaderCtrl"
         ng-init="initHeaderCtrl('Forums', null)"
         header-template>
    </div>

    <div ng-if="isForumLoaded">

        <h4>Development</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed01151ce')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>Recruitment</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z02')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>General</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z03')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z04')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z05')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z06')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>PvE</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z07')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z08')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z09')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z10')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z11')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>PvP</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z12')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z13')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z14')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z15')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>RP/ Events</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z16')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z17')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <h4>Officers forum</h4>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z18')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

        <div ng-controller="ForumItemCtrl"
             ng-init="initForumItemCtrl('3908cb8b86657cdaf71b020ed0115z19')">
            <span><a href="#/{{ forumId }}">{{ name }}</a></span>
        </div>

    </div>

</div>

<!--

Recruitment
    About the guild
    Guild rules
    Application

General
    General
    Info from the officers
    Member introductions
    Other games
    Off topic

PvE
    General
    Raid tactics
    Dungeons HC/CM
    Raids
    Raid rules

PvP
    General
    Arena
    Rbgs
    Wpvp

RP/ Events
    RP
    Events

Officers forum
    Active concerns
    Recruitments information


-->